tabbar tabbox {
  padding: 0;
  min-height: 12px;
  background-color: #1a1a1a;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
}

tabbar tabbox tab:selected {
  background-color: #6d6d6d;
  color: #ffffff;
}

