tabbar tabbox {
  padding: 0;
  min-height: 10px;
  background-color: #000000;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
}

tabbar tabbox tab:selected {
  background-color: #1d1d1d;
  color: #ffffff;
}

