#window {
    background-color: #1a1b26;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
}

#input {
    background-color: #24283b;
    color: #c0caf5;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
}

#input:focus {
}

#entry {
    background-color: #1a1b26;
    color: #c0caf5;
    padding: 8px;
    margin: 2px 10px;
}

#entry:selected {
    background-color: #414868;
    color: #a9b1d6;
    border-radius: 6px;
}

#text {
    color: #c0caf5;

	padding-left: 10px;
}

#text:selected {
    color: #a9b1d6;
}
