.DS_Store
*~
.vscode
xmonad/xmonad.o
xmonad/xmonad.hi
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
.emacs.d/.cache/
.emacs.d/.dap-breakpoints
.emacs.d/projects
.emacs.d/.lsp-session-v1
.emacs.d/README.el
.emacs.d/abbrev_defs
.emacs.d/transient
.emacs.d/straight/
.emacs.d/var
.emacs.d/eshell
.emacs.d/history
.emacs.d/transient
.emacs.d/elpa
.doom.d/packages.el
.doom.d/config.el
.doom.d/init.el
nvim/.netrwhist
fonts/.uuid
nvim/plugin/packer_compiled.lua
helix/runtime
kak/plugins
