[submodule "i3/blocklets"]
	path = i3/blocklets
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "polybar/themes"]
	path = polybar/themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule "polybar/.themes"]
	path = polybar/.themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-git-prompt"]
	path = zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "zsh/plugins/git-prompt.zsh"]
	path = zsh/plugins/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "polybar/polybar-themes"]
	path = polybar/polybar-themes
	url = https://github.com/adi1090x/polybar-themes
[submodule "awesome/awesome-buttons"]
	path = awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule "awesome/battery-widget"]
	path = awesome/battery-widget
	url = https://github.com/deficient/battery-widget.git
