[submodule "i3/blocklets"]
	path = i3/blocklets
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "polybar/themes"]
	path = polybar/themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule "polybar/.themes"]
	path = polybar/.themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
