# This is Git's per-user configuration file.

[url "git@gitlab.snappcloud.io:"]
	insteadOf = https://gitlab.snappcloud.io/

[user]
	name = amirrezaask
	email = raskarpour@gmail.com

[merge]
	conflictstyle = zdiff3

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[pull]
	rebase = true

[core]
	pager = nvim -R -d

[color]
	pager = no
