*~
.DS_Store
**elpa
**elpaca
**straight
**transient
btop/btop.log
btop/themes/current.theme
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
helix/runtime
early-init.el
editor/emacs/eln-cache
editor/emacs/eshell
editor/emacs/projects
PowerShell/Scripts
PowerShell/Modules
nvim/lazy-lock.json
**/emacs/themes
