# This is Git's per-user configuration file.
; [url "git@gitlab.snappcloud.io:"]
; insteadOf = https://gitlab.snappcloud.io/
;
[user]
name = amirrezaask
email = raskarpour@gmail.com
[core]
	editor = subl -n -w
[alias]
	st = status
