[user]
	name = amirrezaask
	email = raskarpour@gmail.com

[core]
	excludesfile = /Users/amirreza/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = /Users/amirreza/.stCommitMsg

[pull]
	rebase = true 

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	fa = fetch --all
	ft = fetch --tags
	st = status
	co = checkout
	re = rebase
