"" Source your .vimrc
"source ~/.vimrc
set scrolloff=5

set incsearch

map Q gq

imap jk <Esc>
imap kj <Esc>

nmap gr <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap R <Action>(RenameElement)