Xcursor.size: 18
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

xterm*foreground: #F8F8F2
xterm*background: #282A36
xterm*color0:     #000000
xterm*color8:     #4D4D4D
xterm*color1:     #FF5555
xterm*color9:     #FF6E67
xterm*color2:     #50FA7B
xterm*color10:    #5AF78E
xterm*color3:     #F1FA8C
xterm*color11:    #F4F99D
xterm*color4:     #BD93F9
xterm*color12:    #CAA9FA
xterm*color5:     #FF79C6
xterm*color13:    #FF92D0
xterm*color6:     #8BE9FD
xterm*color14:    #9AEDFE
xterm*color7:     #BFBFBF
xterm*color15:    #E6E6E6


! Use a nice truetype font and size by default...
xterm*faceName: mononoki
xterm*faceSize: 11

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false
