/* theme "gruvbox-dark" */

keybinds {
    unbind "Ctrl p"
    unbind "Ctrl o"
    unbind "Ctrl t"
    unbind "Ctrl g"
    unbind "Ctrl s"
    unbind "Ctrl q"
    unbind "Ctrl n"
    unbind "Ctrl h"
    normal {
        unbind "Ctrl p"
        unbind "Ctrl o"
        unbind "Ctrl t"
        unbind "Ctrl g"
        unbind "Ctrl s"
        unbind "Ctrl q"
        unbind "Ctrl n"
        unbind "Ctrl h"
     
        bind "Alt p" { SwitchToMode "pane"; }
        bind "Alt o" { SwitchToMode "session"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt g" { SwitchToMode "locked"; }
        bind "Alt s" { SwitchToMode "search"; }
        bind "Alt q" { Quit; }
        bind "Alt h" { SwitchToMode "move"; }
        bind "Alt n" { SwitchToMode "resize"; }
        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }
}
