font-family = TX-02
maximize = true
macos-titlebar-style = tabs
adjust-cell-height = 30%
window-colorspace = "display-p3"
cursor-style-blink = false
mouse-hide-while-typing = true
macos-option-as-alt = true
shell-integration-features = no-cursor,no-sudo,no-title
window-padding-x = 0
window-padding-y = 0

keybind = cmd+n=next_tab
keybind = cmd+p=previous_tab
keybind = cmd+f=toggle_split_zoom

# background = 282c34 
background = 111416
foreground = e0e0e0
selection-background = 5a7185
selection-foreground = e0e0e0
split-divider-color = ff0000
# cursor-color = 1DA457
palette = 0=1c2526
palette = 1=ff5555
palette = 2=55ff55
palette = 3=ffff55
palette = 4=5555ff
palette = 5=ff55ff
palette = 6=55ffff
palette = 7=bbbbbb
palette = 8=4a5859
palette = 9=ff8080
palette = 10=80ff80
palette = 11=ffff80
palette = 12=8080ff
palette = 13=ff80ff
palette = 14=80ffff
palette = 15=ffffff
