set $light #ebdbb2
set $dark #3c3836
set $focused #3c3836
set $inactive #282828
set $unfocused #282828
set $urgent #b8bb26

client.focused          $focused    $focused    $light   $focused    $focused
client.focused_inactive $inactive   $inactive   $light   $inactive   $inactive
client.unfocused        $unfocused  $unfocused  $light  $unfocused  $unfocused
client.urgent           $urgent     $urgent     $light  $urgent     $urgent
