/* Wofi theme based on Kitty color scheme */

#window {
    background-color: #0a0f1a;
    border: 2px solid #00ccff; /* cursor color for border */
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
}

#input {
    background-color: #0d1b26; /* color0 */
    color: #a8dfff; /* foreground */
    border: 1px solid #3399ff; /* color5 */
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

#outer-box {
    margin: 5px;
}

#entry {
    background-color: #123247; /* color8 */
    color: #cceeff; /* color7 */
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #00aaff; /* color4 */
    color: #0a0f1a; /* cursor_text_color */
    border-radius: 4px;
}

#text {
    color: #cceeff; /* color7 */
	padding-left: 10px;
}

#text:selected {
    color: #0a0f1a; /* cursor_text_color */
}
