@define-color bg #0A1428;
@define-color fg #F0F8FF;
@define-color gray1 #0A1428;
@define-color gray2 #6A90D2;
@define-color gray3 #FF40A3;
@define-color gray4 #00BFFF;
@define-color gray5 #F0F8FF;
@define-color fg_bright #F0F8FF;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
