theme "tokyo-night"

default_layout "compact"
// layout_dir "~/.config/zellij/layouts"

// copy_on_select false
mouse_mode false

// Keybindings
keybinds {
    normal {
        unbind "Ctrl p" "Ctrl t" "Ctrl n" "Ctrl s" "Ctrl o" "Ctrl q" "Ctrl h" "Ctrl g"
        bind "Alt p" { SwitchToMode "pane"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt n" { NewTab; }
        bind "Alt s" { SwitchToMode "scroll"; }
        bind "Alt d" { NewPane; }
        bind "Alt m" { SwitchToMode "move"; }
        bind "Alt o" { SwitchToMode "session"; }
        bind "Alt q" { CloseFocus; }
        bind "Alt g" { SwitchToMode "locked"; }
        bind "Alt w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    }
}
