[Desktop Entry]
Name=Acme
GenericName=Text Editor
Comment=Edit text files
TryExec=/home/amirreza/src/github.com/amirrezaask/dotfiles/acme/a
Exec=/home/amirreza/src/github.com/amirrezaask/dotfiles/acme/a %F
Terminal=false
Type=Application
Icon=/home/amirreza/Downloads/download.jpeg
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
