/* Nord theme for Wofi */
#window {
    background-color: #2e3440;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    font-size: 21px;
}

#input {
    background-color: #3b4252;
    color: #eceff4;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
}

#input:focus {
    background-color: #4c566a;
}

#entry {
    background-color: #2e3440;
    color: #eceff4;
    padding: 8px;
    margin: 2px 10px;
}

#entry:selected {
    background-color: #4c566a;
    color: #88c0d0;
    border-radius: 6px;
}

#text {
    color: #eceff4;
	padding-left: 10px;
}

#text:selected {
    color: #88c0d0;
}
