@define-color selected-text #5b6c78 ;
@define-color text #d3c6aa;
@define-color base #2d353b;
@define-color border #d3c6aa;
@define-color foreground #d3c6aa;
@define-color background #2d353b;

window {
    background-color: @background;
    color: @text;
    border: 2px solid @border;
    border-radius: 8px;
}

#input {
    background-color: @base;
    color: @text;
    border: 1px solid @border;
    padding: 5px;
    margin: 5px;
}

#entry {
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @selected-text;
    color: @foreground;
    border-radius: 4px;
}

#text:selected {
    color: @foreground;
	color: #ffffff;
}
