[Desktop Entry]
Encoding=UTF-8
Name=Emacs
GenericName=Emacs
Comment=Emacs window manager for X
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Exec=/usr/local/bin/emacs
