[Desktop Entry]
Encoding=UTF-8
Name=Emacs
GenericName=Emacs
Comment=Emacs window manager for X
MimeType=text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-java;application/x-shellscript;text/x-c;text/x-c++;text/x-ruby;text/x-python;text/x-clojure;text/css;text/html;text/x-javascript;
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Exec=/usr/local/bin/emacs
